@{
    int ROL = Convert.ToInt16(Session["id_rol"]);
    /*
    List<Ventas_BE.Usuarios_BE> lista = new List<Ventas_BE.Usuarios_BE>();
    lista.Add(Session["lista_accesos"]);
    */
    //int ROL = 1;

    /*
    1 SUPER USUARIO
    2 ADMINISTRADOR
    3 CAJERO
    4 BODEGUERO
    5 VENDEDOR
    */
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    @Html.Partial("_Head")
    @RenderSection("styles", required: false)
</head>
@Html.Partial("_LoadingFire")
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            @*<img class="animation__shake" src="~/Content/Admin LTE 3.2/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">*@
            <img class="animation__shake" src="https://images.squarespace-cdn.com/content/v1/574faff6f8baf35e5da43485/1508776508281-KARGJAKP4GW3CJPISNG6/SGX-Car-Bits.gif" height="450" width="450">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button" id="btnAccordion"><i class="fas fa-bars"></i></a>
                </li>
                @*<li class="nav-item d-sm-inline-block d-none">
                        <a href="index3.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item d-sm-inline-block">
                        <a href="#" class="nav-link">Contact</a>
                    </li>*@
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto d-none">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            @*Message Start*@
                            <div class="media">
                                <img src="~/Content/Admin LTE 3.2/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Brad Diesel
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            @*Message End*@
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            @*Message Start*@
                            <div class="media">
                                <img src="~/Content/Admin LTE 3.2/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        John Pierce
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got your message bro</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            @*Message End*@
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            @*Message Start*@
                            <div class="media">
                                <img src="~/Content/Admin LTE 3.2/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">The subject goes here</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            @*Message End*@
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                @*Notifications Dropdown Menu*@
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
            <div class="row text-center justify-content-center" style="margin-left:50px">
                <b>S A L E S M E N T</b>
            </div>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary">

            <!-- Brand Logo -->
            @*<a href="#" class="brand-link ">
                <img class="circular--square" src="@Session["url_fotografia"]"  width="70"/>
                    <span class="brand-text font-weight-light">@Session["usuario"]</span><br />
                </a>*@
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex d-none">
                    <div class="image">
                        @*<img src="~/Content/Admin LTE 3.2/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">*@
                        <img src="@Session["url_fotografia"]" class="img-circle elevation-2" alt="User Image" style="width:70px; height:70px">
                    </div>
                    <div class="info">
                        <p class="text-white" style="margin-top:14px">@Session["usuario"].ToString().ToUpper()</p>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                @*<div class="form-inline">
                        <div class="input-group" data-widget="sidebar-search">
                            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-sidebar">
                                    <i class="fas fa-search fa-fw"></i>
                                </button>
                            </div>
                        </div>
                    </div>*@

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!--<li class="nav-item">
                        <a href="~/USUMantenimiento/Index" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                USUARIOS-->
                        @*<span class="right badge badge-danger">New</span>*@
                        <!--</p>
                            </a>
                        </li>-->

                        @if (ROL == 1 || ROL == 2)
                        {
                            <li class="nav-item">
                                <a href="~/USUListarUsuario/Index" class="nav-link">
                                    <i class="far fa-users"></i>
                                    <p>
                                        USUARIOS
                                    </p>
                                </a>
                            </li>
                        }

                        @if (ROL == 1 || ROL == 2 || ROL == 5)
                        {
                            <li class="nav-item">
                                <a href="~/CLIListarClientes/Index" class="nav-link">
                                    <i class="far fa-user"></i>
                                    <p>
                                        CLIENTES
                                    </p>
                                </a>
                            </li>
                        }

                        @if (ROL == 1 || ROL == 2 || ROL == 4 )
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-inventory"></i>
                                    <p>
                                        INVENTARIO
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/INVMantenimiento/IndexListarProductos" class="nav-link">
                                            <i class="far fa-list" style="color:white"></i>
                                            <p>LISTAR PRODUCTOS</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/INVMantenimiento/IndexCrearProducto" class="nav-link">
                                            <i class="far fa-plus" style="color:white"></i>
                                            <p>CREAR PRODUCTO</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/INVMantenimiento/IndexEditarProducto" class="nav-link">
                                            <i class="far fa-edit" style="color:white"></i>
                                            <p>EDITAR PRODUCTO</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }

                        @if (ROL == 1 || ROL == 2 || ROL == 5)
                        {
                            <li class="nav-item">
                                <a href="~/VENCrearVenta/Index" class="nav-link">
                                    <i class="far fa-store"></i>
                                    <p>
                                        VENTAS
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/INVMantenimiento/IndexEditarProducto" class="nav-link">
                                    <i class="far fa-edit" style="color:white"></i>
                                    <p>EDITAR PRODUCTO</p>
                                </a>
                            </li>
                        }

                        @if (ROL == 1 || ROL == 2 || ROL == 3)
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-hand-holding-usd"></i>
                                    <p>
                                        CAJA
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="~/CAJCobro/Index" class="nav-link">
                                            <i class="far fa-stop-circle"></i>
                                            <p>COBRO</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/CAJCorte/Index" class="nav-link">
                                            <i class="far fa-stop-circle"></i>
                                            <p>CORTE</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="~/ANUCrearAnulacionVenta/Index" class="nav-link">
                                    <i class="far fa-window-close"></i>
                                    <p>
                                        ANULACIONES
                                    </p>
                                </a>
                            </li>
                        }

                        @if (ROL == 1 || ROL == 2)
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-hand-holding-usd"></i>
                                    <p>
                                        REPORTES
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="~/REPVentas/Index" class="nav-link">
                                            <i class="far fa-stop-circle"></i>
                                            <p>VENTAS</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/REPProductos/Index" class="nav-link">
                                            <i class="far fa-stop-circle"></i>
                                            <p>PRODUCTOS TOP(10)</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/REPProductosGeneral/Index" class="nav-link">
                                            <i class="far fa-stop-circle"></i>
                                            <p>PRODUCTOS GENERALES</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/REPProductoUnico/Index" class="nav-link">
                                            <i class="far fa-stop-circle"></i>
                                            <p>PRODUCTO UNICO</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/REPProductosVendidos/Index" class="nav-link">
                                            <i class="far fa-stop-circle"></i>
                                            <p>PRODUCTOS VENDIDOS</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/REPCobros/Index" class="nav-link">
                                            <i class="far fa-stop-circle"></i>
                                            <p>COBROS</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/REPCortes/Index" class="nav-link">
                                            <i class="far fa-stop-circle"></i>
                                            <p>CORTES</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/REPGeneral/Index" class="nav-link">
                                            <i class="far fa-stop-circle"></i>
                                            <p>GENERAL</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/REPBitacora/Index" class="nav-link">
                                            <i class="far fa-stop-circle"></i>
                                            <p>BITACORA</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/REPProdCasaComercial/Index" class="nav-link">
                                            <i class="far fa-stop-circle"></i>
                                            <p>PRODUCTOS POR CASA COMERCIAL</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        <li class="nav-item" style="margin-top:60px">
                            <a href="/Home/CerrarSesion" class="nav-link btn btn-danger">
                                <i class="far fa-times"></i>
                                <p>
                                    CERRAR SESION
                                </p>
                            </a>
                        </li>
                        @*<li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-copy"></i>
                                    <p>
                                        Layout Options
                                        <i class="fas fa-angle-left right"></i>
                                        <span class="badge badge-info right">6</span>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="pages/layout/top-nav.html" class="nav-link">
                                            <i class="far fa-stop-circle"></i>
                                            <p>Top Navigation</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-chart-pie"></i>
                                    <p>
                                        Charts
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="pages/charts/chartjs.html" class="nav-link">
                                            <i class="far fa-stop-circle"></i>
                                            <p>ChartJS</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="pages/charts/flot.html" class="nav-link">
                                            <i class="far fa-stop-circle"></i>
                                            <p>Flot</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="pages/charts/inline.html" class="nav-link">
                                            <i class="far fa-stop-circle"></i>
                                            <p>Inline</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="pages/charts/uplot.html" class="nav-link">
                                            <i class="far fa-stop-circle"></i>
                                            <p>uPlot</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-header">MULTI LEVEL EXAMPLE</li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-circle nav-icon"></i>
                                    <p>Level 1</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-circle"></i>
                                    <p>
                                        Level 1
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="far fa-stop-circle"></i>
                                            <p>Level 2</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="far fa-stop-circle"></i>
                                            <p>
                                                Level 2
                                                <i class="right fas fa-angle-left"></i>
                                            </p>
                                        </a>
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    <i class="far fa-dot-circle nav-icon"></i>
                                                    <p>Level 3</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    <i class="far fa-dot-circle nav-icon"></i>
                                                    <p>Level 3</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    <i class="far fa-dot-circle nav-icon"></i>
                                                    <p>Level 3</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="far fa-stop-circle"></i>
                                            <p>Level 2</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-header">LABELS</li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon far fa-circle text-danger"></i>
                                    <p class="text">Important</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon far fa-circle text-warning"></i>
                                    <p>Warning</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon far fa-circle text-info"></i>
                                    <p>Informational</p>
                                </a>
                            </li>*@
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="col-md-12 p-3">
                @RenderBody()
            </div>
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Ingeniería IOS &copy; @DateTime.Now.Year.</strong>
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0
            </div>
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    @Html.Partial("_JS")
    @RenderSection("scripts", required: false)


</body>
</html>
